.card.bg-base-200.shadow-2xl.prose.mx-auto
  .card-title.px-8.pt-12
    %h1.m-0.text-2xl.lg:text-3xl.font-semibold.m-0.text-accent
      Some first-time sign-in stuff&hellip;

  .card-body.pt-3.lg:pt-4
    %p.mt-0.mb-1.lg:mb-2mb-2.text-md.lg:text-lg.font-normal
      Ok, you're signed in.
    %p.mt-0.mb-1.lg:mb-2.text-md.lg:text-lg.font-normal
      Now I just need you to do a couple of things:
    %ol.m-0
      %li.mt-0.pt-1.lg:pt-2.text-md.lg:text-lg.font-normal
        %h2.mt-0.mb-2.lg:mb-3.text-lg.lg:text-xl.font-semibold
          Change your password.
        %p.mt-0.mb-1.lg:mb-2.text-md.lg:text-lg.font-normal
          You should get an email with a password reset link in a second or two.
          If you'd like the email resent, click the link below or the one on the
          sign-in page that says &ldquo;Forgot password?&rdquo;.
        %p.mt-0.mb-1.lg:mb-2.text-md.lg:text-lg.font-normal
          %a.link-secondary{href: new_password_path}
            Resend that password reset email.

      %li.mt-0.pt-3.lg:pt-1.lg:pt-2.text-md.lg:text-lg.font-normal
        %h2.mt-0.mb-2.lg:mb-3.text-lg.lg:text-xl.font-semibold
          Authorize the Archivist bot.
        %p.mt-0.mb-1.lg:mb-2.text-md.lg:text-lg.font-normal
          Click the button and tell Slack that it's ok for the Archivist bot to
          read your DMs.
        .mt-2.lg:mt-3
          %a.slack-button{href: @oauth_url}
            != image_tag("slack.svg", size: "20x20", class: "h-5 w-5 mr-3")
            Add to Slack
