:plain
  A new account has been created on #{url_for(:root).chomp("/")} with the
  email address #{@account.email}.

  Click this link to set your password:

  #{url_for([:edit_account_password, account_id: @account.id])}

  Once you sign in, you'll need to click the "Add to Slack" button to allow the
  bot to read your Slack DMs.

  Shout at @gyrf in Slack if you need assistance.
