.card.bg-base-200.shadow-2xl.prose.mx-auto
  .card-title.px-8.pt-12
    %h1.m-0.text-2xl.lg:text-3xl.font-semibold.m-0.text-accent
      That did it.

  .card-body.pt-3.lg:pt-4
    %p.mt-0.mb-1.lg:mb-2mb-2.text-md.lg:text-lg.font-normal
      Archivist can now read your DMs.

    %p.mt-0.mb-1.lg:mb-2.text-md.lg:text-lg.font-normal
      And the account

      %span.font-semibold.text-accent
        = @bot_user.account.email

      can now read your DMs here on archive.evilpaws.org.

    %p.mt-0.mb-1.lg:mb-2.text-md.lg:text-lg.font-normal
      Hopefully that&rsquo;s you.
