- cache [@channel, year, month, ActiveSupport::Digest.hexdigest(dates.to_s)] do
  - dates.each do |date, count|
    = render(partial: "date",
        locals: { date: date, count: count },
        cached: [@channel, date, count])
