- cache [@channel, year, month, ActiveSupport::Digest.hexdigest(dates.to_s)] do
  .collapse
    %input.h-10.min-h-0{type: "radio", name: "months-accordion",
        checked: (year == @message_counts_by_date.keys.first &&
          month == @message_counts_by_date[@message_counts_by_date.keys.first].keys.first)}
    .collapse-title.px-0.py-2.h-10.min-h-0.menu.menu-sm.lg:menu-md
      = Date::MONTHNAMES[month]
      = year unless year == this_year
    .collapse-content.px-0{class: "!pb-0"}
      %ul.menu.menu-sm.lg:menu-md.py-0.pb-2.px-0
        = render(partial: "dates_in_month",
            locals: { year: year, month: month, dates: dates },
            cached: [@channel, year, month, ActiveSupport::Digest.hexdigest(dates.to_s)])
