%nav.navbar
  %div.navbar-start
    - p = prev_date(@channel, @date)
    - unless p.nil?
      = link_to channel_date_path(@channel, p) do
        &lsaquo;&nbsp;#{long_date(p)}
  %div.navbar-end
    - n = next_date(@channel, @date)
    - unless n.nil?
      = link_to channel_date_path(@channel, n) do
        #{long_date(n)}&nbsp;&rsaquo;
