%nav.navbar-sm.lg:navbar.flex.py-2.lg:pt-0{class: "!px-0"}
  .navbar-start.flex
    - previous_date = @channel.previous_date_before(@date)
    - unless previous_date.nil?
      = link_to raw("&lsaquo; #{long_date(previous_date)}"),
        channel_date_path(@channel, previous_date),
        class: "btn btn-ghost btn-sm lg:btn-md normal-case font-normal whitespace-nowrap"
  .navbar-end.flex.text-sm.lg:text-md
    - next_date = @channel.next_date_after(@date)
    - unless next_date.nil?
      = link_to raw("#{long_date(next_date)} &rsaquo;"),
        channel_date_path(@channel, next_date),
        class: "btn btn-ghost btn-sm lg:btn-md normal-case font-normal whitespace-nowrap"
