%ul.menu.lg:menu-lg.pl-0.pt-0
  - @channels.each do |channel|
    %li
      %a.px-4{href: url_for(channel)}
        \##{channel.name}
        %span.text-xs.lg:text-sm
          = time_ago(channel.time_of_latest_message)
