%ul.menu
  - @channels_with_times.each do |channel, last_message_time|
    %li
      %a{href: url_for(channel)}
        \##{channel.name}
        %span.text-sm
          #{time_ago_in_words(last_message_time)} ago
