%h1.text-lg.lg:text-2xl.pb-2.lg:pb-3
  \##{@channel.name}

- this_year.downto(@channel.date_of_oldest_message.year).each do |year|
  - if year_contained_in?(year, @channel.message_dates_with_counts)
    - 12.downto(1).each do |month|
      - if month_contained_in?(month, year, @channel.message_dates_with_counts)
        = render(partial: "month", locals: { channel: @channel, month: month, year: year })
