.search
  %h1 Search

  = render partial: 'form'

  - unless @results.nil?
    %hr
    .results
      %small.text-muted #{pluralize(@results.count, 'message')} found
      - unless @results.empty?
        = render partial: 'message', collection: @urls_results
        = paginate @results
