.search
  .page-header
    %h1 Search

  = render partial: 'form'

  - unless @results.nil?
    %hr
    - if @results.empty?
      %p No results found.
    - else
      = render partial: 'message', collection: @urls_results
      = paginate @results
