- cache [@private_channel, date, count] do
  %li
    %a{href: private_channel_date_path(@private_channel, date)}
      - if date.year == this_year
        = long_date(date)
      - else
        = long_date_with_year(date)
      %span.text-xs.lg:text-sm
        #{pluralize(count, "message")}
