- if @private_channels.present?
  %ul.menu.lg:menu-lg.pl-0.pt-0
    - @private_channels.each do |private_channel|
      %li
        %a.px-4{href: url_for(private_channel)}
          = private_channel.display_name(current_account.user)
          %span.text-xs.lg:text-sm
            = time_ago(private_channel.time_of_latest_message)

    %li
      %details.dropdown
        %summary
          Archived
        %ul.dropdown-content
          %li
            - @archived_private_channels.each do |archived|
              %a.px-4{href: url_for(archived)}
                = archived.display_name(current_account.user)
                %span.text-xs.lg:text-sm
                  = time_ago(archived.time_of_latest_message)

- else
  .card.bg-base-200.shadow-2xl.prose.mx-auto
    .card-title.px-8.pt-12
      %h1.m-0.text-2xl.lg:text-3xl.font-semibold.m-0.text-accent
        Check back later.

    .card-body.pt-3.lg:pt-4
      %p.mt-0.mb-1.lg:mb-2mb-2.text-md.lg:text-lg.font-normal
        You don&rsquo;t have any DMs archived yet.
