- cache [@private_channel, @private_channel.time_of_latest_message] do
  %h1.text-lg.lg:text-2xl.pb-2.lg:pb-3
    - if @private_channel.name.present?
      = "#" + @private_channel.name
    - else
      = @private_channel.other_users_as_sentence(current_account.user)

  - @private_message_counts_by_date.each do |year, months|
    - months.each do |month, dates|
      = render(partial: "month",
        locals: { year: year, month: month, dates: dates },
        cached: [@private_channel, year, month, ActiveSupport::Digest.hexdigest(dates.to_s)])
