- if notice
  .alert.border-2.border-info.text-start.justify-items-start.pr-8.grid.grid-flow-col.gap-8.mb-6{class: "grid-cols-[1rem,_auto]"}
    .text-info
      %i.fas.fa-info-circle
    %div{class: "-indent-4"}
      = notice

- if alert
  .alert.border-2.border-error.text-start.justify-items-start.pr-8.grid.grid-flow-col.gap-8.mb-6{class: "grid-cols-[1rem,_auto]"}
    .text-error
      %i.fas.fa-exclamation-triangle
    %div{class: "-indent-4"}
      = alert
