- if notice
  %div.alert.alert-info.alert-dismissible.fade.show{role: 'alert'}
    = notice
    %button.btn-close{data: {bs: {dismiss: 'alert'}}}
- if alert
  %div.alert.alert-warning{role: 'alert'}
    = alert
