- if notice
  %div.notice.alert.alert-dark.alert-dismissible
    = notice
    %button.close{data: {dismiss: 'alert'}} &times;
- if alert
  %div.alert.alert-danger.alert-dismissible
    = alert
    %button.close{data: {dismiss: 'alert'}} &times;
- if flash
  %div#flash
    - flash.each do |key, value|
      %div{class: "flash #{key}"}
        = value
