%meta{name: "theme-color", content: "#ffffff"}
%link{rel: "icon", href: asset_path("archive.svg")}
%link{rel: "mask-icon", href: asset_path("archive.svg"), color: "#057aff"}
%link{rel: "apple-touch-icon", href: asset_path("apple-touch-icon.png")}
%link{rel: "manifest", href: asset_path("manifest.json")}
