.navbar.mb-4.lg:mb-6.bg-primary.text-primary-content
  .navbar-start

    -# hamburger menu
    %details.dropdown.lg:hidden
      %summary.btn.btn-ghost
        %i.fas.fa-bars
      %ul.dropdown-content.menu.menu-sm.mt-3.p-2.shadow.bg-primary.rounded-box.z-10
        %li
          %a{href: url_for(:root), class: ("bg-primary-focus" if current_page?(:root))}
            Home
        %li{tabindex: "0"}
          %details{open: (true if current_page?({ controller: :display, action: :show}) || (params[:date] && current_page?({ controller: :display, action: :by_date})))}
            %summary{class: ("bg-primary-focus" if current_page?({ controller: :display, action: :show}) || (params[:date] && current_page?({ controller: :display, action: :by_date})))}
              Channels
            %ul.p-2
              - channels_with_messages.each do |channel|
                %li
                  %a{class: ("bg-primary-focus" if request.fullpath.start_with?("/#{channel.name}")), href: url_for(channel)}
                    \##{channel.name}
        %li
          %a{href: url_for(:search), class: ("bg-primary-focus" if current_page?(:search))}
            Search

    %div
      %span.btn.btn-ghost.normal-case.text-xl
        %a{href: url_for(:root)}
          %i.fas.fa-archive
          Archive

    -# horizontal menu
    .hidden.lg:flex
      %ul.menu.menu-horizontal.p-0
        %li
          %a{href: url_for(:root), class: ("bg-primary-focus" if current_page?(:root))}
            Home
        %li{tabindex: "0"}
          %details
            %summary{class: ("bg-primary-focus" if current_page?({ controller: :display, action: :show}) || (params[:date] && current_page?({ controller: :display, action: :by_date})))}
              Channels
            %ul.p-2.z-10.text-primary-content{class: "!bg-primary text-primary-content/80"}
              - channels_with_messages.each do |channel|
                %li
                  %a{class: ("bg-primary-focus" if request.fullpath.start_with?("/#{channel.name}")), href: url_for(channel)}
                    \##{channel.name}
        %li
          %a{href: url_for(:search), class: ("bg-primary-focus" if current_page?(:search))}
            Search

  .navbar-end
    %ul.menu.menu-horizontal.p-0
      %li
        %a{href: "https://rae.evilpaws.org/", rel: "nofollow", data: { confirm: "Ready to leave?" }}
          %span
            rae.evilpaws.org
            %i.fas.fa-external-link-alt
