.navbar.mb-4.lg:mb-6.bg-primary.text-primary-content
  .grow.justify-start

    -# hamburger menu
    .dropdown.lg:hidden
      %label.btn.btn-ghost{tabindex: 0}
        %i.fas.fa-bars
      %ul.dropdown-content.menu.mt-3.p-2.shadow.bg-primary.rounded-box.z-10{tabindex: 0}
        %li
          %details{open: (true if channel_page?)}
            %summary{class: ("bg-primary-focus" if channel_page?)}
              Channels
            %ul.p-2
              - Channel.with_messages.each do |channel|
                %li
                  %a{href: url_for(channel), class: ("bg-primary-focus" if channel.name == current_channel)}
                    \##{channel.name}

        %li
          %a{href: url_for(:search), class: ("bg-primary-focus" if current_page?(:search))}
            Search

        - if bot_authorized?
          %li
            %a{href: url_for(:dms), class: ("bg-primary-focus" if current_page?(:dms))}
              DMs

          %li
            %a.whitespace-nowrap{href: url_for(:search_dms), class: ("bg-primary-focus" if current_page?(:search_dms))}
              Search DMs

          %li
            %a{href: "https://rae.evilpaws.org/", rel: "nofollow", data: { confirm: "Ready to leave?" }}
              %span.whitespace-nowrap
                rae.evilpaws.org
                %i.fas.fa-external-link-alt

    %div
      %span.btn.btn-ghost.normal-case.text-xl
        %a.whitespace-nowrap{href: url_for(:root)}
          %i.fas.fa-box-archive.inline-block.w-5.h-5
          Archive

    -# horizontal menu
    .hidden.lg:flex
      %ul.menu.menu-horizontal.p-0
        %li{tabindex: "0"}
          %details
            %summary{class: ("bg-primary-focus" if channel_page?)}
              Channels
            %ul.p-2.z-10.text-primary-content{class: "!bg-primary text-primary-content/80"}
              - Channel.with_messages.each do |channel|
                %li
                  %a{href: url_for(channel), class: ("bg-primary-focus" if channel.name == current_channel)}
                    \##{channel.name}

        %li
          %a{href: url_for(:search), class: ("bg-primary-focus" if current_page?(:search))}
            Search

        - if bot_authorized?
          %li
            %a{href: url_for(:dms), class: ("bg-primary-focus" if current_page?(:dms))}
              DMs

          %li
            %a.whitespace-nowrap{href: url_for(:search_dms), class: ("bg-primary-focus" if current_page?(:search_dms))}
              Search DMs

  .grow.justify-end
    %ul.menu.menu-horizontal.p-0
      %li.hidden.lg:flex
        %a{href: "https://rae.evilpaws.org/", rel: "nofollow", data: { confirm: "Ready to leave?" }}
          %span.whitespace-nowrap
            rae.evilpaws.org
            %i.fas.fa-external-link-alt

      %li= render(partial: 'shared/user_menu')
