.navbar.mb-4.lg:mb-6.bg-primary.text-primary-content
  .grow.justify-start

    -# hamburger menu
    .dropdown.lg:hidden
      %label.btn.btn-ghost{tabindex: 0}
        %i.fas.fa-bars
      %ul.dropdown-content.menu.mt-3.p-2.shadow.bg-primary.rounded-box.z-10{tabindex: 0, data: { controller: "confirm" }}
        %li
          %details{open: channel_page?}
            %summary{class: ("bg-primary-focus" if channel_page?)}
              Channels
            = render(partial: 'shared/channels')

        %li
          %a{href: url_for(:search), class: ("bg-primary-focus" if current_page?(:search))}
            Search

        - if bot_authorized?
          %li
            %a{href: url_for(:dms), class: ("bg-primary-focus" if current_page?(:dms) || private_channel_page?)}
              DMs

          %li
            %a.whitespace-nowrap{href: url_for(:search_dms), class: ("bg-primary-focus" if current_page?(:search_dms))}
              Search DMs

          %li
            %a{href: "https://rae.evilpaws.org/", rel: "nofollow",
              data: { action: "click->confirm#leave", "confirm-prompt-param": "Ready to leave?"}}
              %span.whitespace-nowrap
                rae.evilpaws.org
                %i.fas.fa-external-link-alt

    %div
      %span.btn.btn-ghost.normal-case.text-xl
        %a.whitespace-nowrap{href: url_for(:root)}
          %i.fas.fa-box-archive.inline-block.w-5.h-5
          Archive

    -# horizontal menu
    .hidden.lg:flex
      %ul.menu.menu-horizontal.p-0
        %li
          %details
            %summary{class: ("bg-primary-focus" if channel_page?)}
              Channels
            = render(partial: 'shared/channels')

        %li
          %a{href: url_for(:search), class: ("bg-primary-focus" if current_page?(:search))}
            Search

        - if bot_authorized?
          %li
            %a{href: url_for(:dms), class: ("bg-primary-focus" if current_page?(:dms) || private_channel_page?)}
              DMs

          %li
            %a.whitespace-nowrap{href: url_for(:search_dms), class: ("bg-primary-focus" if current_page?(:search_dms))}
              Search DMs

  .grow.justify-end
    %ul.menu.menu-horizontal.p-0{data: { controller: "confirm"}}
      %li.hidden.lg:flex
        %a{href: "https://rae.evilpaws.org/", rel: "nofollow",
          data: { action: "click->confirm#leave", "confirm-prompt-param": "Ready to leave?"}}
          %span.whitespace-nowrap
            rae.evilpaws.org
            %i.fas.fa-external-link-alt

      %li= render(partial: 'shared/user_menu')
