.search .results .message:hover {
  background: #f8f9fa !important;
}
.search .results a:hover {
  text-decoration: none !important;
}
.bot-attachment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
.bot-attachment-border {
  width: 4px;
  border-radius: 2px;
}
.slack-good {
  background: #2eb886;
}
.slack-warning {
  background: #daa038;
}
.slack-danger {
  background: #a30200;
}

.bot-attachment-text {
  padding-left: 12px;
}
