.search .results .message:hover {
  background: #f8f9fa !important;
}
.search .results a:hover {
  text-decoration: none !important;
}
.bot-attachment {
  border-left: 4px solid;
  border-radius: 8px;
}
.bot-attachment-text {
  padding-left: 12px;
}
