[hidden] {
  display: none !important
}

.bot-attachment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
.bot-attachment-border {
  width: 4px;
  border-radius: 2px;
}
.slack-good {
  background: #2eb886;
}
.slack-warning {
  background: #daa038;
}
.slack-danger {
  background: #a30200;
}
.bot-attachment-text {
  padding-left: 12px;
}

mark {
  background: #fde047;
  color: #18181b;
  padding: 0.125em;
  margin: -0.125em;
}

.alert {
  @apply pointer-events-none hidden;
}
.alert-open,
.alert:target,
.alert-toggle:checked + .alert {
  @apply pointer-events-auto flex;
}
.alert-toggle {
  @apply fixed h-0 w-0 appearance-none opacity-0;
}

/* hide submenu arrows */
.menu :where(li > details > summary):after,
.menu :where(li > .menu-dropdown-toggle):after {
  @apply !w-0;
}
