!!!
%html
  %head
    = render(partial: 'shared/head')

  %body
    .w-full.mx-auto.lg:container
      = render(partial: 'shared/header')
      = render(partial: 'shared/alerts')
      .px-2
        = yield
